# Specify the docker image to use (only used if using docker runners)
# See: http://doc.gitlab.com/ee/ci/docker/using_docker_images.html
image: jojoc4/gitlab-ci-qt

services:
    - docker:dind



# Try to compile our sample hello world app
compile:
  tags:
  - debian-docker

  script:
  # Compile our app
  - cd dev/Bomberman
  - qmake Bomberman.pro
  - make
